.container_banner{
    background-image: url('https://img.freepik.com/photos-gratuite/bouchent-mains-males-tenant-telephone-ecran-vide-pendant-visionnement-ligne-matchs-sport-populaires-championnats-du-monde-entier_155003-13938.jpg?size=626&ext=jpg&uid=R112515192&ga=GA1.1.302796039.1697125308&semt=ais');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 80%; */
    width: 100%;
    min-height: 500px;
    margin-top: 130px;
}